.col-purple {
    background-color: #822c98;
}
.col-blue {
    background-color: #2f49d4;
}
.col-orange {
    background-color: #ff4c1e;
}
.col-red {
    background-color: #6e0808;
}
.col-gold {
    background-color: #dea338;
}
.col-green {
    background-color: #54b413;
}
.col-white {
    color: #ffffff;
}
.col-text {
    color: #362e26;
}
.col-bar {
    background-color: #e9e4dd;
}
.col-bg {
    background-color: #ede8e0;
}
.col-card {
    background-color: #e4ddd3;
}
.col-text .night-theme {
    color: #c9d1d9;
}
.col-bar .night-theme {
    background-color: #161b22;
}
.col-bg .night-theme {
    background-color: #12171f;
}
.col-card .night-theme {
    background-color: #1b222c;
}
